.vscode/
Cargotruck/.vs
.vs/Cargotruck
.vs/Cargotruck/
.vs/
.vs
./vs
../.vs
../.vs/
*.code-workspace
*.o
*.json
obj/
*obj/
App/obj/
App/bin/
Cargotruck/obj
Client/obj
Server/obj
Shared/obj
Cargotruck/bin
Client/bin
Server/bin
Shared/bin
*.xlsx
*.pdf
*.docx
*.csv
Server/Files
Server/Files/
Server/Files/*
Client/wwwroot/img/profiles/
bin/
obj/
Debug/