.vscode/
Cargotruck/.vs
.vs/
./vs
*.code-workspace
*.o
*appsettings.json
App/appsettings.json
*.json
obj/
*obj/
App/obj/
App/bin/
Cargotruck/obj
Client/obj
Server/obj
Shared/obj
Cargotruck/bin
Client/bin
Server/bin
Shared/bin
*.xlsx
Client/wwwroot/img/profiles/