@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfejeltett jelszó";
}


<div class="main-panel">
    <section class="account">
        <form id="account" method="post">
            <h1>@ViewData["Title"]</h1>
            <p>
                Kérlek nézd meg az emailed.
            </p>
        </form>
    </section>
</div>
