@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Jelszó megváltoztatása";
}


<div class="main-panel">
    <section class="account">
        <h1>@ViewData["Title"]</h1>
        <hr />   
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <input asp-for="Input.Email" class="input" />
                <span class="underline"></span><br>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="input" />
                <span class="underline"></span><br>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="input" />
                <span class="underline"></span><br>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Megváltoztatás</button>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
