@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink  href="Privacy" Match="NavLinkMatch.All">
                <span class="about" aria-hidden="true">@localizer["Privacy"]</span>
            </NavLink>
            <CultureSelector />
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            <div class="bottom-row px-4">

            </div>
        </footer>
    </main>
</div>

  
