@page "/Tasks/edit/{Id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>@localizer["Edit_tasks"]</h3>

<Form ButtonText="Update" tasks="@task" OnValidSubmit="@EditTasks" />

@code {
    [Parameter] public int Id { get; set; }
    Tasks? task = new Tasks();

    protected async override Task OnParametersSetAsync()
    {
        task = await http.GetFromJsonAsync<Tasks>($"api/tasks/getById/{Id}");
    }

    async Task EditTasks()
    {
        await http.PutAsJsonAsync("api/tasks/edit", task);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("/Tasks");

    }

    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory("/Tasks/edit/{Id:int}");
        base.OnInitialized();
    }
}