.import-button {
    margin: 0 !important;
}
.import {
    display: inline-block !important;
    padding: 0 !important;
    margin-left: -15px;
    margin-right:-20px;
    max-width: 220px !important;
    transform: scale(0.8,1);
}

.import-error{
    position:absolute;
    right:8%;
    top:3rem;
    color:red;
}

.center input {
    margin-left: -15%;
}

.center2 input {
    margin-left: 95%;
}

.delete-margin{
    padding-left:8%;
}

.delete-margin dt, dd {
    margin-top: 5px;
    font-size:120%;
}

table th{
    line-height:1.2rem !important;
}

.delete {
    margin-left:15%;
    margin-top:3%;
}

.popup {
    width:40%;
    max-height: 395px;
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    position: absolute;
    text-align: justify;
    top: 40%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
}

.index-boxes {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.index-boxes div {
    display: inline-block;
    background-color: #c9c3c3;
    margin: 2%;
    font-size: 150%;
    width: 200px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    border-bottom: 3px solid #c9c3c3;
    cursor: pointer;
    border-radius: 2px;
}

.index-boxes div:hover {
    border-bottom: 3px solid grey;
    background-color: white;
    color: #c9c3c3 !important;
}

.index-boxes div:hover a{
    color: #686868 !important;
}

.index-boxes div a {
    color: black;
    border-top: 0;
    cursor: pointer;
    font-weight: 600;
}

.index-opacity {
    background-color: rgba(243, 243, 243, 0.7) !important;
    margin-left: -20px !important;
}

.input {
    background-color: transparent;
    border: none;
    color: #000;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 30px;
    left: 50%;
    margin: -25px 0 0 -100px;
    padding: 10px 0px;
    top: 50%;
    width: 200px;
}

.search {
    position:relative;
    top:2px;
    right:1vw;
}

.search-string{
    font-size:1rem;
}

.input_search {
    border: none;
    font-size: 17px;
    margin-right: -4px;
    height: 2.2em;
    padding-left: 10px;
}



.button_search {
    max-height: 2.7em;
    margin-right: 5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-bottom: 3px;
}


.close {
    min-height: 1.5rem;
    min-width:1.5rem;
    margin-right: 3px;
    background-color: red !important;
    border: none;
    border-color: red;
    padding:0px !important;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-color: red;
    float:left;
    margin-top:2%;
}

.close:hover {
    opacity: 0.8;
}

.close:before, .close:after {
    position: absolute;
    top:8px;
    content: '';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.i {
    font-size: 15px !important; 
}

.main {
    margin-left: 0%;
}

.privacy {
    background-color: #f3f3f3;
    padding: 5%;
}

input::-webkit-input-placeholder {
    color: #918d8d;
}

input:focus::-webkit-input-placeholder {
    color: #918d8d;
}

.input:focus + .underline {
    transform: scale(1);
}

.underline {
    background-color: #c9c3c3;
    display: inline-block;
    height: 2px;
    margin-top: -2px;
    top: 185px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 80%;
}


@media only screen and (min-width: 100px) {
    .margintop {
        margin-top: 10rem;
        margin-left: 0vw;
    }
}

@media only screen and (min-width: 800px) {
    .margintop {
        margin-top: 7vw;
        margin-left:3rem;
    }
}

@media only screen and (min-width: 850px) {
    .margintop {
        margin-top: 6vw;
        margin-left: 5vw;
    }
}

@media only screen and (min-width: 930px) {
    .margintop {
        margin-top: 5vw;
        margin-left: 1vw;
    }
}

@media only screen and (min-width: 1000px) {
    .margintop {
        margin-top: 3.8vw;
        margin-left: 0.5vw;
    }
}


.navmargintop {
    margin-top: 58px;
    width:10%;
}



.forms div {
    float: left;
    width: 45%;
    margin:2%;
}

.forms input, .forms2 input {
    border: 1px solid #c9c3c3;
}

.forms select, .forms2 select {
    border: 1px solid #c9c3c3;
    color:black;
}

.forms2 {
    width: 45%;
    margin-left: 2%;
    margin-top: 2%;
}


.forms2 .form-group:first-child {
    margin-top: 5%;
}

.forms2 .form-group {
    margin-bottom: 0;
}

.account-create-button{
   margin-left:15%;
   margin-top:5%;
}

.forms .form-check {
  margin-top:10%;
  margin-left:4%;
}

.account form {
    border: 1px solid #f2d8d8;
    background-color: rgba(255, 255, 255,0.9);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2.5%;
    box-shadow: 0 4px 4px 0 rgb(77 131 255 / 14%),
        0 3px 1px -2px rgb(77 131 255 / 20%),
        0 1px 5px 0 rgb(77 131 255 / 12%);
}

.account .registerbutton {
    margin-bottom: 35px;
}

.account button {
    margin-top: 0px;
    margin-bottom:20px;
}

.account h1 {
    font-size: 160%;
}

.account,hr {
    display: inline-block;
    text-align: center;
    margin-top:5px;
}

.account form input, hr {
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
}

.nav-name {
    display: block;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    position: absolute;
    margin-right: 27%;
    top: 1rem;
}

.navbar{
    border-radius:0px;
}
@media (min-width: 576px) {

    .nav-name {
        display: block;
        color: #0d6efd;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        position: absolute;
        right: 1%;
        top: 1rem;
    }
    .navbar img{
        max-height:40px;
    }
}


@media only screen and (min-width: 200px) {
    header .container {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 600px) {
    header .container {
        margin-top: 0%;
    }
}

.login-title {
    padding-left: 30%;
}
.en-title {
    padding-left: 3%;

}
.en-title hr {
    width: 400%;
}

.en-title h1 {
    width: 400%;
}

.img-background {
    background-image: url("../images/login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


img {
    max-height:5.2em;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

h2{
    margin-left:2rem;
}

.paging {
    margin-left: auto;
    margin-right: auto;
    max-height: 3rem;
    margin-bottom: 2rem;
}

.nav-language {
    margin-left: 30%;
    margin-right: 5%;
    border: none;
    font-size: 14px;
}

#selectLanguage{
    margin-top:15%;
}

#selectLanguage select options {
    border: 0px;
    outline: 0px;
}

.nav-language option {
    border: none;
}
