
.chart-currency-input{
    position: absolute;
    top:20px;
    right:50px;
}

.charts {
    display: flex;
    align-items: center;
}

.chart div {
    flex: 1;
    margin: auto;
    border:none;
}

.charts canvas {
    width: 38vw !important;
    color: #bab3b3;
    margin-right: 1rem;
    height:40vh !important;
}

.left-charts{
    margin-right:1rem;
}

@media (max-width: 1400px) {
    .charts canvas {
        width: 36vw !important;
        color: #bab3b3;
        height: 250px !important;
    }
}

@media (max-width: 1200px) {
    .charts canvas {
        width: 36vw !important;
        color: #bab3b3;
        height: 250px !important;
    }
}

@media (max-width: 1100px) {

    .charts canvas {
        width: 70vw !important;
        height: 400px !important
    }

    .charts .me-4 {
        margin-right: 0px !important;
    }

    .charts {
        display: block;
        position:relative;
        left:0.5rem;      
    }
}

@media (max-width: 1020px) {
    .charts canvas {
        width: 68.5vw !important;
    }
}

@media (max-width: 950px) {
    .charts canvas {
        width: 67vw !important;
    }
}

@media (max-width: 820px) {
    .charts canvas {
        width: 62vw !important;
    }
}

@media (max-width: 800px) {
    .charts canvas {
        width: 59.5vw !important;
    }
}

@media (max-width: 730px) {
    .charts canvas {
        width: 60vw !important;
    }

    .px-4{
        padding-left: 0.8rem !important;
    }

    article {
        margin-left:200px !important;
    }
}

@media (max-width: 700px) {
    .charts canvas {
        width: 54vw !important;
    }
}

@media (max-width: 640px) {
    .charts canvas {
        width: 88vw !important;
        height: 38vh !important;
    }

    .px-4 {
        padding-left: 0.8rem !important;
        padding-right:0.8rem !important;
    }

    article {
        margin-left: 0 !important;
    }

    .charts {
        display: block;
        position: relative;
        left: 0rem;
    }
}

@media (max-width: 500px) {
    .charts canvas {
        width: 86vw !important;
        height: 38vh !important;
    }

    .px-4{
        padding-left:0.8rem !important;
    }
}

