@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="left-charts">

    @if (_config1 != null)
    {
        <AuthorizeView Roles="Accountant,Storageman,Driver,User,Admin">
            <Authorized>
                <div class="col-md-6 stretch-card mt-3 mb-3">
                    <div class="form-card">
                        <div class="card-body">
                            <Chart Config="_config1"></Chart>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    }

    @if (_config3 != null)
    {
        <AuthorizeView Roles="Driver,User,Admin">
            <Authorized>
                <div class="col-md-6 stretch-card mt-3 mb-3">
                    <div class="form-card">
                        <div class="card-body">
                            <Chart Config="_config3"></Chart>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    }

</div>

<div class="right-charts">

    @if (_config2 != null)
    {
        <AuthorizeView Roles="Storageman,User,Admin,driver">
            <Authorized>
                <div class="col-md-6 stretch-card mt-3 mb-3">
                    <div class="form-card">
                        <div class="card-body">
                            <Chart Config="_config2"></Chart>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    }

    @if (_config4 != null)
    {
        <AuthorizeView Roles="Accountant,User,Admin">
            <Authorized>
                <div class="col-md-6 stretch-card mt-3 mb-3">
                    <div class="form-card">
                        <div class="card-body">
                            <Chart Config="_config4"></Chart>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    }

</div>

