@using Cargotruck.Client.Services;

@if (currencyExchange.GetRates() != null)
{
    <div data-title="@localizer["Currency"]" class="form-group custom-select d-inline-block">
        <div class="form-control">@currencyExchange.GetCurrencyType()</div>
        <div class="custom-select-options">
            @foreach (var item in items)
            {
                @if (item != currencyExchange.GetCurrencyType())
                {
                    <div class="custom-select-option" @onclick='async () => {currencyExchange.SetCurrencyType(item);await CurrencyChangedAsync(); }'>
                        @item
                    </div>
                }
            }
        </div>
    </div>
}

