@inject HttpClient Http


<InputFile @key=@(inputFileId) id="inputfile" class="btn btn-light file-upload custom-file-input" OnChange="@(async (e) => {InputFieldRenderHelper();await OnInputFileChangeAsync(e);})" />

@if(error != null && error != "" ){
    <div class="mb-3 input-group page-error">
        <div class="div-icon"><span class="icon iconify" style="margin:0;" data-icon="mdi:file-document-error-outline"></span></div>
        <p class="p-error">@error</p>
    </div>
}

