@inject IJSRuntime JS
@inject NavigationManager Navigation


<div class="form-group custom-select culture-selector">
    <div class="form-control">@Culture.DisplayName.ToUpper()</div>
    <div class="custom-select-options">
        @foreach (var culture in supportedCultures)
        {
            @if (culture.DisplayName != Culture.DisplayName)
            {
                <div class="custom-select-option" @onclick='() => {Culture = culture; }'>
                    @culture.DisplayName.ToUpper()
                </div>
            }
        }
    </div>
</div>

