@using Cargotruck.Shared.Resources
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="Privacy" Match="NavLinkMatch.All">
                <span class="about" aria-hidden="true">@localizer["Privacy"]</span>
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <h1>@context.User.Identity.Name</h1>
                    <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
                </Authorized>

            </AuthorizeView>
            <CultureSelector />
        </div>

        <article class="content px-4 container" style="margin-right:3%;">
            @Body
        </article>
        <footer>
            <div class="bottom-row px-4">
            </div>
        </footer>
    </main>
</div>

@code{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            if (!navigationManager.Uri.ToString().Contains("login") && !navigationManager.Uri.ToString().Contains("Privacy") && !navigationManager.Uri.ToString().Contains("register"))
            {
                navigationManager.NavigateTo("/login");
            }
        }
    }
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}