@page "/Admin"
@using Cargotruck.Shared.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer

<NavLink href="register">
    <h6 class="font-weight-normal text-center">Create account</h6>
</NavLink>